MPB__Observation_Intake_Tagging_Agent-4.json
{
  "name": "MPB__Observation_Intake_Tagging_Agent",
  "nodes": [
    {
      "parameters": {
        "url": "https://htvyruodlvdbpfsnmuhz.supabase.co/rest/v1/observation?select=*&tagged=eq.false&order=created_at.asc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0dnlydW9kbHZkYnBmc25tdWh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNzg1MTQsImV4cCI6MjA2Mjc1NDUxNH0.0E_lA1rY5DsTHGwJGcyafpO0Wd61R9RvcAx01ky6gHg"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0dnlydW9kbHZkYnBmc25tdWh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNzg1MTQsImV4cCI6MjA2Mjc1NDUxNH0.0E_lA1rY5DsTHGwJGcyafpO0Wd61R9RvcAx01ky6gHg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -540
      ],
      "id": "2b516fe8-a8fa-4c08-abce-66d3551ee416",
      "name": "FetchObservations",
      "credentials": {
        "supabaseApi": {
          "id": "snX7zXf3hb1iETnD",
          "name": "Supabase <-> N8N MPBos"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tag",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        -540
      ],
      "id": "e8a9aa68-001b-413a-bb55-6da5b8481225",
      "name": "FetchTagBank",
      "credentials": {
        "supabaseApi": {
          "id": "snX7zXf3hb1iETnD",
          "name": "Supabase <-> N8N MPBos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://htvyruodlvdbpfsnmuhz.supabase.co/rest/v1/observation?on_conflict=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0dnlydW9kbHZkYnBmc25tdWh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNzg1MTQsImV4cCI6MjA2Mjc1NDUxNH0.0E_lA1rY5DsTHGwJGcyafpO0Wd61R9RvcAx01ky6gHg"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0dnlydW9kbHZkYnBmc25tdWh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNzg1MTQsImV4cCI6MjA2Mjc1NDUxNH0.0E_lA1rY5DsTHGwJGcyafpO0Wd61R9RvcAx01ky6gHg"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $items(\"Code_EnrichObservations\").map(item => item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1256,
        -540
      ],
      "id": "9dc605b5-1e23-4081-8a74-8946edefce6c",
      "name": "UpsertObservation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is a list of possible tags (skills vs constraints):\n{{$json.tagBank}}\nAnd here is a coach’s note:\n“{{$json.raw_note}}”\nReturn a JSON object exactly like:\n{\n  \"tagged_skills\": [\"<skill1>\", \"<skill2>\"],\n  \"tagged_constraints\": [\"<constraint1>\"]\n}\n\n• Only use tags that appear in the bank.\n• If the note matches nothing, return tagged_skills and tagged_constraints as empty **arrays** (not strings).\n• Never wrap the arrays in quotation marks.",
              "role": "system"
            },
            {
              "content": "=Tag bank:\n{{ $json.tagBank }}\n\nCoach’s note:\n“{{ $json.raw_note }}”"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        660,
        -540
      ],
      "id": "c62d67a2-cd10-4bce-b47f-224f4d83cdf0",
      "name": "OpenAI_TagExtractor",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "KhaGQw1SlGfhaasb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Grab the raw observations\nconst observations = $items(\"FetchObservations\");\n\n// 2) Grab the AI‐extracted tags (you told OpenAI to output JSON with tagged_skills & tagged_constraints)\nconst aiResults = $items(\"OpenAI_TagExtractor\").map(i => {\n  try {\n    return JSON.parse(i.json.message.content);\n  } catch (e) {\n    return { tagged_skills: [], tagged_constraints: [] };\n  }\n});\n\n// 3) Merge them\nconst enriched = observations.map((obsItem, idx) => {\n  const base = obsItem.json;\n  const ai = aiResults[idx] || {};\n\n  return {\n    json: {\n      ...base,\n      raw_entry: base.raw_entry ?? base.raw_note ?? \"[missing]\",\n      tagged_skills: Array.isArray(ai.tagged_skills) ? ai.tagged_skills : [],\n      tagged_constraints: Array.isArray(ai.tagged_constraints) ? ai.tagged_constraints : [],\n      tagged: true\n    }\n  };\n});\n\nreturn enriched;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1036,
        -540
      ],
      "id": "f3168324-23e4-44d6-be7b-351faaca974c",
      "name": "Code_EnrichObservations"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -540
      ],
      "id": "37e3eb9a-b234-41f6-9388-687f25490cfe",
      "name": "ScheduleTrigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d09e31a1-d49d-430d-894c-830b354c7492",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -900
      ],
      "id": "853865c2-c64e-4077-91b4-52929ba4439b",
      "name": "VoiceNoteIntake",
      "webhookId": "d09e31a1-d49d-430d-894c-830b354c7492"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e915e02-3df4-4e5d-9a27-69d7beca68bb",
              "leftValue": "={{$json[\"storage_type\"]}}",
              "rightValue": "parsed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        -900
      ],
      "id": "d2800105-ce4c-40e7-aa2c-db21a7b979c9",
      "name": "IsParsedObservation"
    },
    {
      "parameters": {
        "content": "Processes new voice/text observations, auto-tags for skills and constraints, and inserts structured records into Supabase for downstream agents."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        -1240
      ],
      "typeVersion": 1,
      "id": "85e49e01-6ea3-423e-9152-e25be40398c4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const obs = $json;\nconst players = Array.isArray(obs.players) ? obs.players : [];\nconst playerNames = Array.isArray(obs.player_names) ? obs.player_names : [];\n\nconst aliasMap = {};\nplayers.forEach(player => {\n  if (player.display_name) aliasMap[player.display_name.trim().toLowerCase()] = player.id;\n  if (player.aliases) {\n    const aliases = Array.isArray(player.aliases) ? player.aliases : String(player.aliases).split(\",\");\n    aliases.forEach(a => {\n      if (a && a.trim()) aliasMap[a.trim().toLowerCase()] = player.id;\n    });\n  }\n});\n\nconst outputs = [];\nconst unmatched = [];\nconst attendanceFlags = Array.isArray(obs.attendance_flags) ? obs.attendance_flags : [];\n\n// Flag unspecified attendance for admin review\nif (attendanceFlags.some(f => typeof f === \"string\" && f.toLowerCase().includes(\"unspecified\"))) {\n  outputs.push({\n    json: {\n      ...obs,\n      flagged_for_admin: true,\n      flag_reason: \"Unspecified player absence; check for transcription/name errors\"\n    }\n  });\n}\n\n// Emit one item per matched player\nplayerNames.forEach(name => {\n  const key = name.trim().toLowerCase();\n  if (aliasMap[key]) {\n    outputs.push({\n      json: {\n        ...obs,\n        player_id: aliasMap[key],\n        player_names: [name] // Only this player in this output\n      }\n    });\n  } else {\n    unmatched.push(name);\n  }\n});\n\n// Flag any unmatched names, once per observation\nif (unmatched.length > 0) {\n  outputs.push({\n    json: {\n      ...obs,\n      player_id: null,\n      player_names: unmatched,\n      flagged_for_admin: true,\n      flag_reason: \"Player not found in player/alias table\",\n      category: \"player\"\n    }\n  });\n}\n\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -900
      ],
      "id": "b39ba846-2231-4c17-93c0-c352610dca51",
      "name": "SplitByPlayer",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Only the fields that are present in your observation table schema:\nconst requiredKeys = [\n  \"player_id\", \"coach_id\", \"session_uid\", \"raw_note\", \"tagged_skills\", \"tagged_constraints\",\n  \"reflection_quality_score\", \"created_at\", \"observation_type\", \"player_names\", \"attendance_flags\",\n  \"session_notes\", \"raw_entry\", \"tagged\"\n];\n\n// Function to ensure all keys are present (null if missing)\nfunction ensureAllKeys(obj) {\n  const out = {};\n  requiredKeys.forEach(k => {\n    out[k] = obj.hasOwnProperty(k) ? obj[k] : null;\n  });\n  return out;\n}\n\n// If items is your array, map them:\nreturn items.map(item => ({ json: ensureAllKeys(item.json) }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2136,
        -1000
      ],
      "id": "1acbe284-ce91-420b-bce2-708f17b77671",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "player",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1036,
        -975
      ],
      "id": "a8dc5ece-9801-460a-bfbc-d62aad0838ee",
      "name": "FetchPlayers",
      "credentials": {
        "supabaseApi": {
          "id": "snX7zXf3hb1iETnD",
          "name": "Supabase <-> N8N MPBos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const players = items.map(i => i.json);\nreturn [{ json: { players } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1256,
        -975
      ],
      "id": "6c22ea6e-83f6-4e39-896d-3d13dbf8c123",
      "name": "PlayersToArray"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant for Max Potential Basketball. A coach just submitted the following observation note:\n\n\"{{ $json[\"body\"][\"Entry\"] }}\"\n\nYour tasks:\n1. Return the original note as \"raw_note\".\n2. Identify and return the following in a JSON object:\n  - observation_type (practice, game, film, etc., infer from context if possible)\n  - player_names (if mentioned, otherwise empty array)\n  - attendance_flags (list any absences, injuries, or notes on who was/wasn't present)\n  - tagged_skills (skills mentioned, from a basketball context)\n  - tagged_constraints (constraints or situational factors)\n  - session_notes (summary or recommended actions)\n\nFormat your output as a JSON object with keys: raw_note, observation_type, player_names, attendance_flags, tagged_skills, tagged_constraints, session_notes. Return ONLY the JSON object, with no extra explanation, formatting, or Markdown. Do not wrap your response in code blocks.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        -900
      ],
      "id": "9037445a-dc41-415f-9916-6490001cc984",
      "name": "ParseObservationNote",
      "credentials": {
        "openAiApi": {
          "id": "KhaGQw1SlGfhaasb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $node[\"VoiceNoteIntake\"].json || {};\nconst rawEntry = webhookData.Entry ?? webhookData.body?.Entry ?? '[MISSING ENTRY]';\n\n// Parse GPT response (message.content)\nconst openAI = $node[\"ParseObservationNote\"].json;\nlet parsedData;\ntry {\n  parsedData = JSON.parse(openAI.message.content);\n} catch (err) {\n  throw new Error(\"Failed to parse GPT message.content as JSON\");\n}\n\n// Raw log output (can send elsewhere later)\nconst rawOutput = {\n  storage_type: \"raw\",\n  raw_entry: rawEntry,\n  created_at: new Date().toISOString()\n};\n\n// Clean parsed output (fully flattened)\nconst parsedOutput = {\n  storage_type: \"parsed\",\n  ...parsedData,\n  created_at: new Date().toISOString()\n};\n\nreturn [ { json: rawOutput }, { json: parsedOutput } ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        596,
        -900
      ],
      "id": "b73ef340-f408-4207-a47c-d10bad46f9ae",
      "name": "ParseRawVsParsed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1476,
        -900
      ],
      "id": "34b23b12-3f84-4cea-9f77-d9dbf5f515ac",
      "name": "MergeObservationWithPlayers"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "flagged_for_admin",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1ea89f39-e79d-4ee6-bbed-1dae3c504cea"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11f418d0-25a7-4d06-95da-d0400ea090f6",
                    "leftValue": "flagged_for_admin",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1916,
        -900
      ],
      "id": "e8fc913e-36f2-4fda-a9ed-3db9bb095454",
      "name": "SwitchFlagged"
    },
    {
      "parameters": {
        "tableId": "observation",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2356,
        -1000
      ],
      "id": "9bdb5b93-a9d0-4684-a71f-c6049704b1e8",
      "name": "InsertObservation",
      "credentials": {
        "supabaseApi": {
          "id": "snX7zXf3hb1iETnD",
          "name": "Supabase <-> N8N MPBos"
        }
      }
    },
    {
      "parameters": {
        "tableId": "flagged_entities"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2356,
        -800
      ],
      "id": "771226d7-24fd-4413-b0a7-f24f4bfed313",
      "name": "InsertFlaggedEntity",
      "credentials": {
        "supabaseApi": {
          "id": "snX7zXf3hb1iETnD",
          "name": "Supabase <-> N8N MPBos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    category: item.json.category || \"player\",\n    raw_observation_id: item.json.raw_observation_id || null,\n    flagged_name: Array.isArray(item.json.player_names)\n      ? item.json.player_names.join(\", \")\n      : (item.json.flagged_name || null),\n    observation_text: item.json.raw_note || item.json.observation_text || null,\n    flagged_at: new Date().toISOString(),\n    attempted_match: null,\n    resolved_entity_id: null,\n    resolution_status: \"pending\",\n    resolved_by: null,\n    resolved_at: null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2136,
        -800
      ],
      "id": "db5d9531-9965-4474-a645-8ce1d8d01c3f",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "FetchObservations": {
      "main": [
        [
          {
            "node": "FetchTagBank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchTagBank": {
      "main": [
        [
          {
            "node": "OpenAI_TagExtractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_TagExtractor": {
      "main": [
        [
          {
            "node": "Code_EnrichObservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_EnrichObservations": {
      "main": [
        [
          {
            "node": "UpsertObservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScheduleTrigger": {
      "main": [
        [
          {
            "node": "FetchObservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VoiceNoteIntake": {
      "main": [
        [
          {
            "node": "ParseObservationNote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsParsedObservation": {
      "main": [
        [
          {
            "node": "FetchPlayers",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeObservationWithPlayers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SplitByPlayer": {
      "main": [
        [
          {
            "node": "SwitchFlagged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "InsertObservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchPlayers": {
      "main": [
        [
          {
            "node": "PlayersToArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PlayersToArray": {
      "main": [
        [
          {
            "node": "MergeObservationWithPlayers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseObservationNote": {
      "main": [
        [
          {
            "node": "ParseRawVsParsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseRawVsParsed": {
      "main": [
        [
          {
            "node": "IsParsedObservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeObservationWithPlayers": {
      "main": [
        [
          {
            "node": "SplitByPlayer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SwitchFlagged": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "InsertFlaggedEntity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25bb161c-7ea8-4ac9-812b-87925020ede8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0abe8dd3af7b84dd650128b454cc932a6aae1d69499f17eccb6a7dec666a07a5"
  },
  "id": "RKQsN6nd2MmBFhYQ",
  "tags": []
}